/* Eric Meyer's Most Excellent CSS Reset */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul li, ol li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */
/* notes */
/* 100% = 16px = 1em */
/* 20px = 1.25em */
/* 24px = 1.5em */
@font-face {
  font-family: "18Franklin-webfont";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/18Franklin-Regular.woff2") format("woff2"), url("/fonts/18Franklin-Regular.woff") format("woff"), url("/fonts/18Franklin-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "18Franklin-webfont";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/18Franklin-Italic.woff2") format("woff2"), url("/fonts/18Franklin-Italic.woff") format("woff"), url("/fonts/18Franklin-Italic.ttf") format("truetype");
}
:root {
  --grid: 8px;
  --spacer: calc(var(--grid) * 2);
  --color-blue: #1553ea;
  --color-pink: #ff0f0f;
  --size-xxs: 0.7em;
  --size-xs: 0.75em;
  --size-s: 0.85em;
  --width-desktop: 990px;
}

/*
--------------

BASICS

--------------
*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

@media only screen and (max-width: 747px) {
  .no-mobile {
    display: none;
  }
}

html,
body {
  height: 100%;
}

.home {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: white;
  color: var(--color-blue);
  font: 91%/1.55 "Public Sans", system, -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

body.case-study {
  background-color: black;
  font-weight: 300;
  color: white;
}
body.case-study .section ul.specs li {
  color: white;
}
body.case-study a {
  text-decoration: none;
}
body.case-study a strong {
  font-weight: 400;
  color: var(--color-blue);
}
@media only screen and (max-width: 747px) {
  body.case-study .section {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
}
@media only screen and (min-width: 747px) {
  body.case-study .project-title {
    font-weight: 300;
    font-size: 2em;
    line-height: 1.2;
  }
  body.case-study .project-title strong {
    font-weight: 700;
  }
}
body.case-study .project-title .tag {
  display: block;
  float: left;
  font-size: 12px;
  padding: 4px;
  border: 1px solid;
  margin-bottom: var(--grid);
}
body.case-study .project-title .primary {
  display: block;
  clear: both;
}
body.case-study .project-title .secondary {
  display: block;
  clear: both;
  color: #444;
}
@media only screen and (min-width: 747px) {
  body.case-study .project-title {
    margin-bottom: 0;
  }
}

#hello {
  margin: 0 auto;
  padding: 0 calc(var(--grid) * 2);
  width: auto;
  max-width: var(--width-desktop)calc(var(--grid) * 4);
}
@media only screen and (min-width: 747px) {
  #hello {
    padding: 0 calc(var(--grid) * 4);
    max-width: 768px;
  }
}
@media only screen and (min-width: 990px) {
  #hello {
    padding: 0 calc(var(--grid) * 2);
    max-width: calc(var(--width-desktop) + var(--grid) * 4);
  }
}

a:link,
a:visited {
  color: var(--color-pink);
}

a:hover {
  color: var(--color-blue);
}

a.button {
  display: block;
  text-decoration: none;
  text-align: center;
  border: 1px solid;
  padding: 1em;
  border-radius: 2px;
  margin-top: calc(var(--grid) * 3);
  font-size: var(--size-sm);
}
@media only screen and (min-width: 747px) {
  a.button {
    margin-top: calc(var(--grid) * 3);
    margin-bottom: calc(var(--grid) * 3);
    float: left;
  }
}
@media only screen and (min-width: 990px) {
  a.button {
    margin-top: calc(var(--grid) * 6);
    margin-bottom: 0;
    float: left;
  }
}

p {
  margin: 0;
  clear: both;
}

em {
  font-style: italic;
}

h1 {
  margin: calc(var(--grid) * 11) auto calc(var(--grid) * 17) auto;
  font-weight: normal;
  font-size: 2.4em;
  border-bottom: 3px solid;
  width: 7.3em;
  text-align: center;
  transform: rotate(-45deg);
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  display: none;
}

h1,
h2,
h3,
strong {
  font-weight: normal;
}

img {
  display: block;
  clear: both;
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 747px) {
  img.slide-image {
    max-width: var(--width-desktop);
    max-height: calc(var(--width-desktop) / 2);
    width: 100% !important;
    height: auto !important;
  }
}

figure {
  margin: 0;
}
@media only screen and (min-width: 747px) {
  figure {
    width: 100% !important;
    height: auto !important;
  }
}

figure.body {
  margin-left: -var(--grid);
  margin-right: -var(--grid);
  margin-top: calc(var(--grid) * 2);
  margin-bottom: calc(var(--grid) * 2);
  width: auto !important;
}
@media only screen and (min-width: 747px) {
  figure.body {
    margin-bottom: calc(var(--grid) * 4);
    margin-top: calc(var(--grid) * 4);
  }
}
figure.body img {
  padding-left: var(--grid);
  padding-right: var(--grid);
  clear: both;
}
figure.body img + img {
  margin-top: var(--grid);
}
figure.body figcaption {
  padding-left: var(--grid);
  padding-right: var(--grid);
  padding-top: var(--grid);
  clear: both;
}
@media only screen and (min-width: 747px) {
  figure.body figcaption {
    padding-top: calc(var(--grid) * 2);
  }
}

@media only screen and (min-width: 747px) {
  figure.body img.img-s-6 {
    width: 50%;
    margin-top: 0;
    float: left;
    clear: none;
  }
}

@media only screen and (min-width: 990px) {
  figure.body img.img-m-6 {
    width: 50%;
    margin-top: 0;
    float: left;
    clear: none;
  }
}

@media only screen and (min-width: 990px) {
  figure.body img.img-m-9 {
    width: 75%;
    margin-top: 0;
    clear: none;
  }
}

figure.slide {
  background-color: transparent !important;
}

/*
strong a, p a, .links a {
	text-decoration: none;
	//border-bottom: 5px solid var(--color-pink);
    box-shadow: inset 0 -4px 0 var(--color-pink);
	padding-bottom: 0;
	display: inline-block;
	top: -1px;
	position: relative;
	&:hover {
		border-bottom-color: var(--color-blue);
	    box-shadow: inset 0 -5px 0 var(--color-blue);
	}
	&:active {
		color: black;
		border-bottom-color: black;
	    box-shadow: inset 0 -5px 0 black;
	}
}
*/
.dots {
  height: 100%;
  background-color: white;
  background-size: 8px 8px;
  background-position: top top;
  background-repeat: repeat;
  background-image: url("../../img/meta/dots.svg");
}

/*
--------------

INTRO + THUMBNAILS

--------------
*/
.intro {
  overflow: auto;
  width: 100%;
  position: relative;
  padding-top: var(--spacer);
  padding-bottom: calc(var(--grid) * 4);
}
@media only screen and (min-width: 747px) {
  .intro {
    margin: var(--spacer) 0 0 0;
    padding: var(--spacer) 0 calc(var(--grid) * 6);
  }
}

.contact {
  margin-top: var(--grid);
  padding-top: var(--grid);
}
@media only screen and (min-width: 747px) {
  .contact {
    padding-top: 6px;
  }
}

.tabbed-item {
  display: inline-block;
  padding-right: var(--spacer);
}
@media only screen and (min-width: 747px) {
  .tabbed-item {
    font-size: var(--size-xxs);
  }
}
@media only screen and (max-width: 747px) {
  .tabbed-item {
    display: block;
    padding-top: calc(var(--grid) / 2);
  }
}
@media only screen and (min-width: 990px) {
  .tabbed-item {
    padding-right: 0.5em;
  }
}

.email {
  position: relative;
  top: -1px;
  display: block;
  margin-top: var(--grid);
}
@media only screen and (min-width: 747px) {
  .email {
    display: inline-block;
    margin-top: 0;
  }
}

.fun {
  position: relative;
  top: 2px;
}

.overview {
  padding-top: calc(var(--grid) * 6);
}

.overview-item {
  border-top: 1px solid;
  padding-top: var(--grid);
  margin-top: 5px;
}
@media only screen and (min-width: 747px) {
  .overview-item {
    font-size: var(--size-sm);
  }
}

.item-date {
  display: inline-block;
  position: relative;
  width: 3.4em;
}
@media only screen and (min-width: 747px) {
  .item-date {
    font-size: var(--size-xs);
  }
}
@media only screen and (min-width: 747px) {
  .item-date {
    padding-right: 0.3em;
    top: -2px;
  }
}

.item-title {
  position: relative;
}
@media only screen and (min-width: 747px) {
  .item-title {
    top: -1px;
  }
}

.item-tags {
  padding-left: 3.6em;
}
@media only screen and (min-width: 747px) {
  .item-tags {
    float: right;
    overflow: auto;
    text-align: right;
    top: -2px;
    position: relative;
    padding-left: 0;
  }
}

.item-tag {
  white-space: nowrap;
}
@media only screen and (min-width: 747px) {
  .item-tag {
    font-size: var(--size-xs);
  }
}
.item-tag:after {
  content: ", ";
}
@media only screen and (min-width: 747px) {
  .item-tag:after {
    content: none;
  }
}
.item-tag:last-child::after {
  content: none;
}
@media only screen and (min-width: 747px) {
  .item-tag + .item-tag {
    padding-left: 0.75em;
  }
}

.section-title {
  margin-bottom: calc(var(--grid) * 2);
}

/*
--------------

SECTIONS

--------------
*/
.section {
  clear: both;
  padding-top: calc(var(--grid) * 2);
}
@media only screen and (max-width: 747px) {
  .section {
    border-top: calc(var(--grid) * 5) solid;
    margin-top: calc(var(--grid) * 3);
    margin: 0 calc(var(--grid) * -2) 0;
    padding: calc(var(--grid) * 4) calc(var(--grid) * 2) 0;
  }
}
@media only screen and (min-width: 747px) {
  .section {
    border-top: 1px solid;
    margin: 0;
    padding: var(--spacer) var(--grid) var(--grid) var(--grid);
  }
}

@media only screen and (max-width: 747px) {
  .project-title {
    padding-bottom: calc(var(--grid) * 1);
    font-size: 1.3em;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 747px) {
  .project-title {
    border-bottom: none;
    padding-bottom: 0;
    float: left;
    width: 60%;
    line-height: 1.1;
    margin-bottom: var(--grid);
  }
}

.specs {
  margin-top: 0;
}
@media only screen and (min-width: 747px) {
  .specs {
    margin-top: 0;
    float: right;
    width: 40%;
    margin-right: -var(--grid);
    margin-bottom: var(--grid);
  }
}

@media only screen and (max-width: 747px) {
  .specs li {
    display: none;
    white-space: nowrap;
    font-size: var(--size-xs);
    font-style: italic;
  }
  .specs li:after {
    content: ", ";
  }
  .specs li:last-child::after {
    content: none;
  }
}
@media only screen and (min-width: 747px) {
  .specs li {
    color: var(--color-blue);
    border-bottom: 1px solid;
    margin-left: calc(var(--grid) * 4);
    margin-bottom: calc(var(--grid) / 2);
    padding-bottom: calc(var(--grid) / 2);
  }
}

@media only screen and (max-width: 747px) {
  .section-content {
    display: flex;
    flex-wrap: wrap;
  }
  .section-content .desc {
    order: -1;
  }
}
@media only screen and (min-width: 747px) {
  .section-content {
    margin-top: calc(var(--grid) * 11);
  }
}
@media only screen and (min-width: 990px) {
  .section-content {
    margin-top: 0;
  }
}

@media only screen and (min-width: 747px) {
  .section-body {
    margin-top: calc(var(--grid) * 20);
  }
}
@media only screen and (min-width: 990px) {
  .section-body {
    margin-top: calc(var(--grid) * 25);
  }
}
@media only screen and (min-width: 747px) {
  .section-body p.body {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 990px) {
  .section-body p.body {
    font-size: 1.15em;
    margin-bottom: 1.3em;
  }
}

h3.body {
  margin-top: 1.5em;
  font-size: 1.3em;
  border-bottom: 1px solid;
  padding-bottom: 0.5em;
}
h3.body strong {
  color: #ffc934;
}
@media only screen and (min-width: 747px) {
  h3.body {
    font-size: 1em;
    margin-top: 2.5em;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 1em;
    float: left;
  }
  h3.body:after {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    border-bottom: 1px solid;
  }
}
@media only screen and (min-width: 747px) {
  h3.body + p {
    margin-top: 1em;
  }
}
@media only screen and (min-width: 990px) {
  h3.body + p {
    margin-top: 2em;
  }
}

h4.body {
  margin-top: 1.5em;
  font-weight: 700;
  clear: both;
}
@media only screen and (min-width: 747px) {
  h4.body {
    padding-top: 1.5em;
    margin-top: 0;
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 990px) {
  h4.body {
    font-size: 0.8em;
  }
}
h4.body + p, h4.body + ul, h4.body + ol {
  margin-top: 0.25em;
}
@media only screen and (min-width: 747px) {
  h4.body + ul, h4.body + ol {
    margin-top: 1em;
  }
}

ol.body,
ul.body {
  margin-top: 1em;
  padding-left: calc(var(--grid) * 3);
}
ol.body li + li,
ul.body li + li {
  margin-top: 0.5em;
}
@media only screen and (min-width: 747px) {
  ol.body,
  ul.body {
    max-width: 45em;
    margin-left: calc(var(--grid) * 2);
    margin-top: 1em;
  }
}
@media only screen and (min-width: 990px) {
  ol.body,
  ul.body {
    font-size: 1.15em;
  }
}
ol.body + p,
ul.body + p {
  margin-top: 1em;
}
@media only screen and (min-width: 747px) {
  ol.body + p,
  ul.body + p {
    margin-top: 1.5em;
  }
}

ol.body {
  counter-reset: myCounter;
}
ol.body li {
  text-indent: -24px;
}
ol.body li:before {
  content: counter(myCounter) ". ";
  counter-increment: myCounter;
  font-weight: 700;
  width: 24px;
  text-indent: 0;
  display: inline-block;
}
@media only screen and (min-width: 990px) {
  ol.body li {
    text-indent: -32px;
  }
  ol.body li:before {
    width: 32px;
  }
}

ul.body {
  padding-left: calc(var(--grid) * 2);
}
ul.body li {
  list-style-type: disc;
}
ul.body li strong {
  font-weight: 700;
}
@media only screen and (min-width: 990px) {
  ul.body li strong {
    font-weight: 400;
  }
}
@media only screen and (min-width: 747px) {
  ul.body + h4.body {
    padding-top: 3em;
  }
}

.featured-image {
  clear: both;
  margin: calc(var(--grid) * 3) 0 calc(var(--grid) * 2) 0;
  cursor: pointer;
  width: 100% !important;
}
@media only screen and (min-width: 747px) {
  .featured-image {
    height: calc(var(--grid) * 50) !important;
    margin-top: 0;
    margin-bottom: calc(var(--spacer) * 2);
  }
}
@media only screen and (min-width: 990px) {
  .featured-image {
    margin-top: var(--spacer);
    height: calc(var(--grid) * 65) !important;
  }
}

.slide {
  position: relative;
}
@media only screen and (max-width: 747px) {
  .slide {
    position: relative !important;
    display: block !important;
    opacity: 1 !important;
    top: auto !important;
    left: auto !important;
    width: 100% !important;
    height: auto !important;
    padding-bottom: calc(var(--grid) * 3);
    border-top: 1px solid;
    padding-top: var(--grid);
  }
}

span.note {
  font-style: italic;
}
@media only screen and (min-width: 747px) {
  span.note {
    font-size: var(--size-sm);
  }
}
@media only screen and (max-width: 747px) {
  span.note {
    display: block;
  }
}

figcaption {
  font-size: var(--size-xs);
  padding-top: var(--grid);
  display: block;
}
@media only screen and (min-width: 747px) {
  figcaption {
    padding-top: calc(var(--grid) * 2);
  }
}

figcaption strong {
  display: inline-block;
  width: 2em;
}
@media only screen and (min-width: 747px) {
  figcaption strong {
    font-size: var(--size-xs);
  }
}

img.uto {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  display: block;
}

.desc,
p.body {
  margin-top: calc(var(--grid) * 2);
}
@media only screen and (min-width: 747px) {
  .desc,
  p.body {
    margin-top: 0;
  }
}

.section p span {
  display: block;
  font-size: var(--size-xs);
  line-height: 1.5;
  font-style: italic;
  margin-top: var(--grid);
}
@media only screen and (min-width: 747px) {
  .section p span {
    margin-top: var(--spacer);
  }
}

.section p + ul {
  float: none;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

.section p + ul li {
  float: right;
  padding: 0 0 0 0;
  margin-bottom: var(--grid);
  width: auto;
  max-width: 100%;
}

.section p + ul li:last-child {
  margin-bottom: 0;
}

.section p + ul li a:link img,
.section p + ul li a:visited img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*
--------------

FOOTER

--------------
*/
#footer {
  margin: calc(var(--grid) * 12) var(--grid) var(--spacer) var(--grid);
}
@media only screen and (max-width: 747px) {
  #footer:before {
    content: "";
    display: block;
    position: relative;
    top: calc(var(--grid) * -3);
    width: calc(var(--grid) * 2);
    height: calc(var(--grid) * 2);
    border-radius: calc(var(--grid) * 3);
    background-color: var(--color-blue);
    left: -1px;
  }
}

#footer p {
  margin: 0;
  font-size: 0.8em;
}

p.nav {
  padding-top: calc(var(--grid) * 2);
}
@media only screen and (min-width: 747px) {
  p.nav {
    padding-top: 0;
    text-align: right;
  }
}

.copy {
  display: none;
}

/*
--------------

RESPOND

--------------
*/
@media only screen and (min-width: 747px) {
  body {
    font-size: 100%;
  }
  .intro .bio {
    padding-top: calc(var(--grid) * 4);
  }
  .intro .bio,
  .section p {
    margin: 0 0 calc(var(--spacer) * 2) 0;
  }
  h1 {
    margin: 104px 0px 120px -56px;
    float: left;
  }
  .section {
    overflow: hidden;
    padding: var(--spacer) 0;
  }
  .section ul {
    margin-right: -7px;
  }
  .section ul.nav {
    width: 75%;
    margin-left: 25%;
    padding-top: calc(var(--grid) * 7);
  }
  .section h2 {
    line-height: 1;
    margin-bottom: 0;
  }
  .section ul.specs {
    margin-top: 3px;
    margin-bottom: calc(var(--grid) * 4);
  }
  .featured-image + p {
    margin-top: calc(var(--grid) * 4);
  }
  #t2t .featured-image {
    clear: both;
    height: 200px;
  }
  .section ul.specs li {
    transform: rotate(-45deg);
    margin-left: calc(var(--grid) * -6);
    margin-bottom: 0;
    padding-bottom: 2px;
    width: calc(var(--grid) * 12);
    float: right;
    font-size: 10px;
  }
  ul.thumbnails {
    display: none;
  }
  .section p + ul li {
    margin-bottom: var(--spacer);
  }
  #footer {
    padding: 0;
    margin: 0;
    padding-bottom: calc(var(--grid) * 3);
  }
  .intro ul.info li.ss-icon {
    margin-left: 0;
  }
  .intro ul.info li.ss-icon + li.ss-icon {
    margin-left: calc(var(--grid) / 2);
  }
}
@media only screen and (min-width: 990px) {
  body {
    font-size: 115%;
  }
  .desc,
  p.body {
    font-size: 0.8em;
  }
  .intro .bio {
    margin: 0 0 calc(var(--spacer) * 2) 0;
  }
  h1 {
    margin: 104px 32px 120px -184px;
    float: left;
  }
  .intro ul.info li {
    margin-left: 0;
  }
  ul.thumbnails {
    padding: 54px 0;
    display: block;
  }
  ul.thumbnails img {
    height: auto;
    width: auto;
  }
  ul.thumbnails li {
    min-height: 288px;
    max-width: 155px;
  }
  ul.thumbnails li a img {
    width: 100%;
  }
  .section {
    margin-top: calc(var(--spacer) * 2);
    padding-bottom: var(--spacer);
    padding-left: 0;
    padding-right: 0;
  }
  .section h2 {
    width: 60%;
    padding: 14px 0 0 0;
    margin-bottom: calc(var(--grid) * 6);
    font-size: 1em;
    line-height: 1.3;
  }
  .section-content p {
    margin: 0;
    float: none;
    clear: both;
    padding-top: calc(var(--grid) * 2);
    column-count: 2;
    column-gap: calc(var(--grid) * 5);
  }
  .section-content p span {
    margin-top: 1px;
    padding-top: calc(var(--grid) / 2);
  }
  .section .featured-image {
    display: block;
    float: left;
  }
  #t2t .featured-image {
    height: 324px;
    margin: 0 0 0 0;
    margin-top: calc(var(--grid) * 5);
  }
  .section ul.specs {
    width: auto;
    margin-right: 0;
    float: left;
    padding: var(--grid) 0 0 0;
    margin-bottom: 0;
  }
  .section ul.specs {
    margin-top: 0;
    padding-left: calc(var(--grid) * 8);
    margin-right: -18px;
    float: right;
  }
  .section ul.specs li {
    width: 130px;
    font-size: 12px;
    padding-bottom: 0;
    margin-left: -64px;
  }
  .section ul.nav {
    float: right;
    width: auto;
    clear: none;
    overflow: auto;
    padding-bottom: 0;
    margin-left: 0;
    margin-bottom: var(--spacer);
    padding-top: var(--grid);
    display: none;
  }
  .section ul.nav li {
    width: auto;
    padding: 0 calc(var(--grid) / 4);
  }
  .section ul.nav li:last-child {
    padding-right: 0;
  }
  .section ul.nav li a {
    font-size: 1.2em;
  }
  .section + .section ul.nav li {
    width: auto;
  }
  div.section:last-child ul.nav li {
    width: auto;
  }
  .section ul + ul li a {
    width: 4.5em;
    float: left;
    margin-right: 0;
  }
  .section ul + ul li + li a {
    margin-left: 0;
  }
  .section ul + ul li + li + li a {
    margin-left: 0;
  }
  .specs ul li {
    float: left;
    width: 130px;
  }
  .section ul.specs li {
    transform: rotate(-45deg);
    margin-left: -64px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .section p {
    clear: left;
  }
  .section p + ul {
    float: none;
    width: auto;
    overflow: auto;
    margin-top: calc(var(--grid) * 5);
  }
  div.uto {
    display: none;
  }
  .section p + ul li {
    padding: 0 10px 10px 0;
    border: none;
    margin-bottom: 0;
    float: left;
    height: 133px;
    width: auto;
  }
  .section p + ul li a:link img,
  .section p + ul li a:visited img {
    border: 1px solid transparent;
    height: 133px;
    width: auto;
  }
  .section p + ul li a:hover img {
    border: 1px solid var(--color-blue);
  }
  #footer {
    padding: var(--spacer) 0;
    margin: calc(var(--grid) * 6) 0 calc(var(--grid) * 4) 0;
    font-size: 0.75em;
  }
}

/*# sourceMappingURL=styles.css.map */
