---
layout: base.liquid
---

{{ content  }}

<footer id="footer">
  <p>&lt;/pdx&gt; Hand-coded in Portland.</p>
  <p>
    Typeface:
    <a href="https://github.com/uswds/public-sans">Public Sans</a>
  </p>
  <p class="nav"><a href="#hello">top</a></p>
</footer>
{% include "foot_scripts" %}