@use "mixins-and-vars.scss" as *;

footer {
  margin: calc(var(--grid) * 12) var(--grid) var(--grid-2) var(--grid);
  padding-bottom: var(--grid-4);
  &:before {
    background-color: var(--color-primary);
    border-radius: var(--grid-3);
    content: "";
    display: block;
    height: var(--grid-2);
    left: -1px;
    position: relative;
    top: calc(var(--grid) * -3);
    width: var(--grid-2);
  }
  @include respond-tablet {
    padding: 0;
    margin: 0;
    padding-bottom: var(--grid-3);
  }
  @include respond-desktop {
    padding: var(--grid-2) 0;
    margin: var(--grid-6) 0 var(--grid-4) 0;
    font-size: 0.75em;
  }
}

footer p {
  font-size: var(--size-sm);
  margin: 0;
}

p.nav {
  padding-top: var(--grid-2);
  @include respond-tablet {
    padding-top: 0;
    text-align: right;
  }
}