:root {
  --grid: 8px;
  --spacer: calc(var(--grid) * 2);
  --color-primary: #1553ea;
  --color-secondary: #EB0F0F;
  --size-xxs: 0.65em;
  --size-xs: 0.75em;
  --size-sm: 0.825em;
  --size-md: 1em;
  --size-lg: 1.3em;
  --width-desktop: 1020px;
  --weight-bold: 700;
}

@mixin respond-mobile {
  @media only screen and (max-width: calc(748px - 1px)) {
    @content;
  }
}

@mixin respond-xmobile {
  @media only screen and (min-width: 384px) {
    @content;
  }
}

@mixin respond-tablet {
  @media only screen and (min-width: 747px) {
    @content;
  }
}

@mixin respond-desktop {
  @media only screen and (min-width: 1040px) {
    @content;
  }
}

@mixin respond-wide {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
