@use "mixins-and-vars.scss" as *;

.section-body {
  @include respond-tablet {
    margin-top: calc(var(--grid) * 10);
  }
  p.body {
    @include respond-tablet {
      margin-bottom: 1em;
    }
    @include respond-desktop {
      font-size: 1.15em;
      margin-bottom: 1.3em;
    }
  }
}

h3.body {
  margin-top: 1.5em;
  font-size: 1.3em;
  border-bottom: 1px solid;
  padding-bottom: 0.5em;
  strong {
    color: #ffc934;
  }
  @include respond-tablet {
    font-size: 1em;
    margin-top: 2.5em;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 1em;
    float: left;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 8px;
      border-bottom: 1px solid;
    }
  }
  & + p {
    @include respond-tablet {
      margin-top: 1em;
    }
    @include respond-desktop {
      margin-top: 2em;
    }
  }
}

h4.body {
  margin-top: 1.5em;
  font-weight: var(--weight-bold);
  clear: both;
  @include respond-tablet {
    padding-top: 1.5em;
    margin-top: 0;
    font-size: 0.8em;
  }
  @include respond-desktop {
    font-size: 0.8em;
  }
  & + p,
  & + ul,
  & + ol {
    margin-top: 0.25em;
  }
  & + ul,
  & + ol {
    @include respond-tablet {
      margin-top: 1em;
    }
  }
}

p.body,
ol.body,
ul.body {
  @include respond-tablet {
    //font-size: 1.15em;
  }
}

ol.body,
ul.body {
  margin-top: 1em;
  padding-left: calc(var(--grid) * 3);
  li + li {
    margin-top: 0.5em;
  }
  @include respond-tablet {
    max-width: 45em;
    margin-left: calc(var(--grid) * 2);
    margin-top: 1em;
  }
  @include respond-desktop {
    font-size: 1.15em;
  }
  & + p {
    margin-top: 1em;
    @include respond-tablet {
      margin-top: 1.5em;
    }
  }
}

ol.body {
  counter-reset: myCounter;
  li {
    text-indent: -24px;
  }
  li:before {
    content: counter(myCounter) ". ";
    counter-increment: myCounter;
    font-weight: var(--weight-bold);
    width: 24px;
    text-indent: 0;
    display: inline-block;
  }
  @include respond-desktop {
    li {
      text-indent: -32px;
    }
    li:before {
      width: 32px;
    }
  }
}

ul.body {
  padding-left: calc(var(--grid) * 2);
  li {
    list-style-type: disc;
    strong {
      font-weight: var(--weight-bold);
      @include respond-desktop {
        font-weight: 400;
      }
    }
  }
  & + h4.body {
    @include respond-tablet {
      padding-top: 3em;
    }
  }
}

@include respond-tablet {
  .intro ul.info li.ss-icon {
    margin-left: 0;
    + li.ss-icon {
      margin-left: calc(var(--grid) / 2);
    }
  }
}

@include respond-desktop {
  p.body {
    font-size: 0.8em;
  }

  .intro .bio {
    margin: 0 0 calc(var(--spacer) * 2) 0;
  }
  .intro ul.info li {
    margin-left: 0;
  }
  ul.thumbnails {
    padding: 54px 0;
    display: block;
  }
  ul.thumbnails img {
    height: auto;
    width: auto;
  }
  ul.thumbnails li {
    min-height: 288px;
    max-width: 155px;
    a img {
      width: 100%;
    }
  }

  .section + .section ul.nav li {
    width: auto;
  }

  div.section:last-child ul.nav li {
    width: auto;
  }

  .section ul + ul li a {
    width: 4.5em;
    float: left;
    margin-right: 0;
  }

  .section ul + ul li + li a {
    margin-left: 0;
  }
  .section ul + ul li + li + li a {
    margin-left: 0;
  }
  .section p {
    clear: left;
  }

  .section p + ul {
    float: none;
    width: auto;
    margin-top: calc(var(--grid) * 5);
  }
  .section p + ul li {
    padding: 0 10px 10px 0;
    border: none;
    margin-bottom: 0;
    float: left;
    height: 133px;
    width: auto;
  }
  .section p + ul li a:link img,
  .section p + ul li a:visited img {
    border: 1px solid transparent;
    height: 133px;
    width: auto;
  }
  .section p + ul li a:hover img {
    border: 1px solid var(--color-primary);
  }

  #footer {
    padding: var(--spacer) 0;
    margin: calc(var(--grid) * 6) 0 calc(var(--grid) * 4) 0;
    font-size: 0.75em;
  }
}

figure.body {
  margin-left: -var(--grid);
  margin-right: -var(--grid);
  margin-top: calc(var(--grid) * 2);
  margin-bottom: calc(var(--grid) * 2);
  width: auto;
  @include respond-tablet {
    margin-bottom: calc(var(--grid) * 4);
    margin-top: calc(var(--grid) * 4);
  }
  img {
    padding-left: var(--grid);
    padding-right: var(--grid);
    clear: both;
  }
  img + img {
    margin-top: var(--grid);
  }
  figcaption {
    padding-left: var(--grid);
    padding-right: var(--grid);
    padding-top: var(--grid);
    clear: both;
    @include respond-tablet {
      padding-top: calc(var(--grid) * 2);
    }
  }
}

body.case-study {
  background-color: black;
  font-weight: 300;
  color: white;
  .section ul.specs li {
    color: white;
  }
  a {
    text-decoration: none;
    strong {
      font-weight: 400;
      color: var(--color-primary);
    }
  }
  .section {
    @include respond-mobile {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }
  @include respond-tablet {
    .project-title {
      font-weight: 300;
      font-size: 2em;
      line-height: 1.2;
      strong {
        font-weight: 700;
      }
    }
  }
  .project-title {
    .primary {
      display: block;
      clear: both;
    }
    .secondary {
      display: block;
      clear: both;
      color: #888;
    }
    @include respond-tablet {
      margin-bottom: 0;
    }
  }
}

// 

figure.body img.img-s-6 {
  @include respond-tablet {
    width: 50%;
    margin-top: 0;
    float: left;
    clear: none;
  }
}

figure.body img.img-m-6 {
  @include respond-desktop {
    width: 50%;
    margin-top: 0;
    float: left;
    clear: none;
  }
}

figure.body img.img-m-9 {
  @include respond-desktop {
    width: 75%;
    margin-top: 0;
    clear: none;
  }
}

a.button {
  display: block;
  text-decoration: none;
  text-align: center;
  border: 1px solid;
  padding: 1em;
  border-radius: 2px;
  margin-top: calc(var(--grid) * 3);
  font-size: var(--size-sm);
  @include respond-tablet {
    margin-top: calc(var(--grid) * 3);
    margin-bottom: calc(var(--grid) * 3);
    float: left;
  }
  @include respond-desktop {
    margin-top: calc(var(--grid) * 6);
    margin-bottom: 0;
    float: left;
  }
}
