
//$ss-social-regular-dir: '../webfonts/';
//$ss-social-circle-dir: $ss-social-regular-dir;

@import "meyer-reset.scss";
@import "mixins-and-vars.scss";
//@import "../symbolset/symbolset";
//@import "../symbolset/ss-social-circle";


$size-xxs: 0.7em;
$size-xs: 0.75em;
$size-s: 0.85em;

$weight-bold: 700;


@mixin size($thisSize) {
	@include respond-tablet {
		font-size: $thisSize;
	}
}

@keyframes dottyfun {
    0% 	{background-image: 	url('../../img/dots.svg');}
    50% 	{background-image: 	url('../../img/dots-2.svg');}
    100% 	{background-image: 	url('../../img/dots.svg');}
}



/*
--------------

BASICS

--------------
*/


*, *:after, *:before {
	box-sizing: border-box;
}

.no-mobile {
	@include respond-mobile {
		display: none;
	}
}

body {
	margin: 0;
	background-color: white;
	color: $color-blue;
	font: 93%/1.55 'Roboto', sans-serif;
	overflow-x: hidden;
}


#hello {
	background-color: white;
}

a:link, a:visited {
	color: $color-pink;
}

a:hover {
	color: $color-blue;
}

a:active {}

a.button {
	display: block;
	text-decoration: none;
	text-align: center;
	border: 1px solid;
	padding: 1em;
	border-radius: 2px;
	margin-top: $grid * 3;
	font-size: $size-s;
	@include respond-tablet {
		margin-top: $grid * 3;
		margin-bottom: $grid * 3;
		float: left;
	}
	@include respond-desktop {
		margin-top: $grid * 6;
		margin-bottom: 0;
		float: left;
	}
}

p {
	margin: 0;
	clear: both;
}

em {
	font-style: italic;
}

h1 {
	margin: $grid * 11 auto $grid * 17 auto;
	font-weight: normal;
	font-size: 2.4em;
	border-bottom: 3px solid;
	width: 7.3em;
	text-align: center;
	transform: rotate(-45deg);
	position: relative;
	color: rgba(0,0,0,.8);
	display: none;
}

h1, h2, h3, strong {
	font-weight: normal;
}

img {
	display: block;
	clear: both;
	width: 100%;
	max-width: 100%;
	height: auto;
}


figure {
	margin: 0;
	@include respond-tablet {
		width: 100% !important;
		height: auto !important;
	}
}


.intro {
	margin: 0 auto;
	padding: $grid *2;
	width: auto;
	max-width: $width-desktop + ($grid * 4);
	@include respond-tablet {
		padding: $grid * 4 $grid * 4;
		max-width: 768px;
	}
	@include respond-desktop {
		padding: $grid * 4 $grid * 2;
		max-width: $width-desktop + ($grid * 4);
	}
}

.contact {
//	border-top: 1px solid;
	margin-top: $grid;
	padding-top: $grid;
	@include respond-tablet {
		padding-top: 6px;
	}
}


.tabbed-item {
	@include size($size-xxs);
	display: inline-block;
	padding-right: $spacer;
	@include respond-mobile {
		display: block;
		padding-top: $grid / 2;
	}
	@include respond-desktop {
		padding-right: .5em;
	}
}

.email {
	position: relative;
	top: -1px;
	display: block;
	margin-top: $grid;
	@include respond-tablet {
		display: inline-block;
		margin-top: 0;
	}
}

.fun {
	position: relative;
	top: 2px;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.dots {
	height: 100%;
	background-color: white;
	background-size: 8px 8px;
	background-position: top top;
	background-repeat: repeat;
	background-image: url('../../img/dots.svg');
	//animation: dottyfun 1s linear infinite;
}

#footer {
	margin: $grid * 12 $grid $spacer $grid;
	&:before {
		@include respond-mobile {
			content: '';
			display: block;
			position: relative;
			top: -$grid * 3;
			width: $grid * 2;
			height: $grid * 2;
			border-radius: $grid * 3;
			background-color: $color-blue;
			left: -1px;
		}
	}
}

#footer p {
	margin: 0;
	font-size: .8em;
}

@include respond-tablet {
	body { font-size: 100%; }

	.intro .bio { padding-top: $grid * 4; }

	.intro .bio,
	.section p {
		margin: 0 0 $spacer * 2 0;
	}
	#footer {
		padding: 0;
		margin: 0;
		padding-bottom: $grid * 3;
	}
}

@include respond-desktop {
	body {
		font-size: 120%;
	}
	.desc,
	p.body { font-size: .8em; }
	.intro .bio {
		margin: 0 0 $spacer * 2 0;
	}
	.intro ul.info li {
		margin-left: 0;
	}
	#footer {
		padding: $spacer 0;
		margin: $grid * 6 0 $grid * 4 0;
		font-size: .75em;
	}

}
